@font-face {
    font-family: 'letra';
    src: url(/assets/Poppins-LightItalic.ttf);
}

body{
background-image: url(/assets/nano.jpg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}

h1{
    position: absolute;
    font-size: 4rem;
    text-shadow: 2px 2px rgb(73, 72, 72);
    font-family: letra;
}

.degradado {
    border: 1px;
    box-shadow: 5px 5px 5px 5px black;
    width: 400px;
    height: 150px;
    padding: auto;
    padding-left: 30px; 
    background: linear-gradient(white, rgb(4, 228, 224));
    border-radius: 10px;
}

/* Este Pseudoselector lo que hace es que cuando te posas sobre el titulo cambia de color */
.degradado :hover{
    color: blue;
}

p{
    color: rgb(15, 147, 212);
}

@keyframes moverImagen {
    from{
        transform: translateX(-100);
    }
    to{
        transform: translateX(1000%);
    }
}
 
#imagenMov{
    width: 300px;
    height: 250px;
    background-image: url('/assets/coches.png');
    background-size: cover;
    animation: moverImagen 4s linear infinite;
}



  

